/* TutorialViewer.css */

.tutorial-viewer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  font-family: sans-serif;
}

.tutorial-title {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0.5rem;
}

.tutorial-device {
  font-size: 1.1rem;
  padding: 0.5rem;
  color: #555;
}
.tutorial-navigation {
  position: relative;
  display: flex;
  flex-direction: row;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  height: fit-content;
}
.tutorial-steps-scroll {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}
.tutorial-step-wrapper {
  box-shadow: 0 0 4px 4px #55555533;
  border-radius: 8px;
  padding: 1rem;
}
.tutorial-step {
  display: block;
  padding: 45px;
  scroll-snap-align: start;
  flex-direction: column;
  scroll-snap-align: start;
  min-width: calc(100% - 90px);
}

.nav-button {
  position: absolute;
  height: 100%;
  top: 0;
  z-index: 999;
  border: 0;
  background-color: #55555533;
}
.nav-button.next-step {
  right: 0;
}

.tutorial-steps-scroll::-webkit-scrollbar {
  display: none;
}


.tutorial-step-img-wrapper {
  position: relative;
  display: block;
  width: 192px;
  height: 376px;
  margin: auto;
}

.tutorial-step img {
  position: absolute;
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.tutorial-step-text {
  margin-top: 0.5rem;
  font-size: 1rem;
  text-align: left;
}

.clicker {
  position: absolute;
  width: 60px;
  height: 60px;
  background: rgba(255, 0, 0, 0.5);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}